#!/bin/sh
{% if NO_PROXY is defined %}
export NO_PROXY="{{ NO_PROXY }}"
export no_proxy="{{ NO_PROXY }}"
{% endif %}
export http_proxy="{{ HTTP_PROXY }}"
export HTTP_PROXY="{{ HTTP_PROXY }}"
export https_proxy="{{ HTTP_PROXY }}"
export HTTPS_PROXY="{{ HTTP_PROXY }}"
